{"swagger":"2.0","info":{"title":"ORDS generated API for json","version":"1.0.0"},"host":"ndc.ops.usace.army.mil","basePath":"/ords/lpms/json","schemes":["https"],"produces":["application/json"],"paths":{"/lock_queue_json":{"get":{"description":"Retrieve records from json","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"in_lock","in":"query","type":"string","description":"Implicit parameter"},{"name":"in_river","in":"query","type":"string","description":"Implicit parameter"}]}},"/lock_status_report":{"get":{"description":"Retrieve records from json","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"in_river_codes","in":"query","type":"string","description":"Implicit parameter"}]}},"/monthly_tons_report":{"get":{"description":"Retrieve records from json","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"in_lock","in":"query","type":"string","description":"Implicit parameter"},{"name":"in_month_year","in":"query","type":"string","description":"Implicit parameter"},{"name":"in_river_name","in":"query","type":"string","description":"Implicit parameter"}]}},"/river_at_a_glance/{river_code}/{begin_river_mile}/{end_river_mile}":{"get":{"description":"Retrieve records from json","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"begin_river_mile","in":"path","required":true,"type":"string","description":"implicit","pattern":"^[^/]+$"},{"name":"end_river_mile","in":"path","required":true,"type":"string","description":"implicit","pattern":"^[^/]+$"},{"name":"river_code","in":"path","required":true,"type":"string","description":"implicit","pattern":"^[^/]+$"}]}},"/traffic_report":{"get":{"description":"Retrieve records from json","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"in_lock","in":"query","type":"string","description":"Implicit parameter"},{"name":"in_river","in":"query","type":"string","description":"Implicit parameter"}]}}}}