{"swagger":"2.0","info":{"title":"ORDS generated API for lookups","version":"1.0.0"},"host":"ndc.ops.usace.army.mil","basePath":"/ords/lpms/lookups","schemes":["https"],"produces":["application/json"],"paths":{"/chamber_numbers":{"get":{"description":"Retrieve records from lookups","produces":["text/csv"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}}}},"/erocs":{"get":{"description":"Retrieve records from lookups","produces":["text/csv"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}}}},"/hydrology_reading_types":{"get":{"description":"Retrieve records from lookups","produces":["text/csv"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}}}},"/hydrology_stations":{"get":{"description":"Retrieve records from lookups","produces":["text/csv"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}}}},"/hydrology_weather_codes":{"get":{"description":"Retrieve records from lookups","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}}}},"/lock_numbers":{"get":{"description":"Retrieve records from lookups","produces":["text/csv"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}}}},"/river_codes":{"get":{"description":"Retrieve records from lookups","produces":["text/csv"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}}}},"/stoppage_reason_codes":{"get":{"description":"Retrieve records from lookups","produces":["text/csv"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}}}}}}